/* ==========================================================================
Variables
========================================================================== */
html {
	--border:					2px outset #ff63c1;
	--border-radius: 			.5rem 2rem 2rem 2rem;
	--color-black: 				#000;
	--color-gold: 				#ffd700;
	--color-gold-dark: 			#c7a600;
	--color-gold-light: 		#ffff52;
	--color-gray: 				#606060;
	--color-gray-dark: 			#333;
	--color-gray-light: 		#e0e0e0;
	--color-pink-dark: 			#c60064;
	--color-pink-light: 		#ff63c1;
	--color-pink: 				#ff1891;
	--color-green-dark: 		#006200;
	--color-green-light: 		#56c23e;
	--color-green: 				#129100;
	--box-shadow-gray: 			3px 3px 4px var(--color-gray);
	--box-shadow-pink: 			3px 3px 6px var(--color-pink-dark);
	--font-family-primary: 		'Alegreya', sans-serif;
	--font-family-secondary: 	'Playfair Display', serif;
	--pink-opacity-low:			rgba(255, 99, 193, 0.1);
	--pink-opacity-medium:		rgba(255, 99, 193, 0.5);
	--ratio:					1.5;
	--size-tiny:				.5rem;
	--size-xsm:					.8rem;
	--size-small:				calc(1rem / var(--ratio) );
	--size-medium:				calc(1rem * var(--ratio) );
	--size-large:				calc(var(--size-medium) * var(--ratio) );
	--size-xl:					calc(var(--size-large) * var(--ratio) );
	--size-xxl:					calc(var(--size-xl) * var(--ratio) );
	--text-shadow-pink:			1px 1px #ff63c1;
}



/* ==========================================================================
Typography
========================================================================== */

html {
	color: var(--color-gray-dark);
	font-family: var(--font-family-primary);
	line-height: 1.5;
	margin: auto;
}

@media (min-width: 400px) {

	html {
		font-size: 19px;
		--ratio: 1.3;
	}
	blockquote {
	max-width: 15rem;
	padding: 1rem;
	}
}

@media (min-width: 600px) {
	html {
		line-height: 1.3;
	}
}

 .logo {
	font-size: var(--size-xl);
	text-shadow: .5px .5px var(--color-gold-light);
}

h1, h2, h3, h4, h5, h6, .logo{
	font-family: var(--font-family-secondary);
}

 h1 {
 	color: var(--color-black);
 	font-size: var(--size-xxl);
 	letter-spacing: .05em;
 	line-height: 1.2;
 	text-align: center;
 	text-shadow: var(--text-shadow-pink);
 	text-transform: uppercase;
 }

 @media (max-width: 400px) {
 	.lead {
 		font-size: 12px;
 	}
 	h1 {
 		font-size: 40px;
 	}
 	p {
 		font-size: 20px;
 	}
 	.tertiary-dark, .tertiary-light, .about {
 		font-size: 15px;
 	}
 }
 
 h2 {
 	border-top: var(--border);
 	color: var(--color-green);
 	font-size: var(--size-large);
 	margin-top: 5rem;
 	padding-left: .5rem;
 	font-weight: normal;
 }

h3 {
 	color: var(--color-black);
 	font-size: var(--size-large);
 	margin: 0;
 	padding-right: 1rem;
 	text-align: right;
 }

 h4 {
 	color: var(--color-pink-dark);
 	font-size: var(--size-medium);
 }

.modal-subhead {
 	text-align: center;
 	padding-bottom: 1rem;
 }

  h5 {
  	border-bottom: var(--border);
  	color: var(--color-gold-dark);
 	font-size: var(--size-small);
 	margin-bottom: 0;
 	text-shadow: .5px .5px var(--color-pink-dark);
 }

  h6 {
  	color: var(--color-pink-dark);
 	font-size: var(--size-xsm);
 }

 p {
 	margin-top: 0;
 }

 ul {
	color: var(--color-green-dark);
	list-style-type: circle;
}

ol {
	color: var(--color-green);
	list-style-type: upper-roman;
}

ol, ul {
	list-style-position: inside;
	text-shadow: .25px .25px var(--color-black);
}

blockquote {
	border: var(--border);
	box-shadow: 3px 3px 6px var(--color-green-dark);
	color: var(--color-pink-dark);
	padding: .5rem;
}

.tertiary-dark {
	background-color: var(--color-pink);
	color: var(--color-gray-light);
	font-size: var(--size-xsm);
	padding: .5rem;
}

.tertiary-light {
	color: var(--color-pink-dark);
	font-size: var(--size-xsm);
}

 .lead {
 	font-size: var(--size-medium);
 }

/* ==========================================================================
Links
========================================================================== */

a {
	color: var(--color-pink);
	text-decoration: none;
}

a:visited {
	text-decoration: line-through;
}

a:hover {
	color: var(--color-gold);
}

a:focus {
	color: var(--color-green-light);
	outline: none;
}

a:active {
	background-color: var(--pink-opacity-medium);
	border-radius: var(--border-radius);
	color: #fff;
	text-shadow: 1.5px 1.5px var(--color-black);
	padding: 1rem;
}

a:visited, a:hover, a:focus, a:active {
	transition: all ease-in .25s;
}

/* ==========================================================================
Header Component
========================================================================== */

header {
	background-color: var(--color-black);
	padding: 1rem;
	text-align: center;
}

header a { 
	color: var(--color-pink-light);
	padding: .5rem;
}

header ul {
	padding-left: 0;
}

header li {
	list-style-type: none;
	padding: 1rem;
}

@media (min-width: 752px) {
	header {
		align-items: center;
		background-color: var(--color-black);
		display: flex;
		justify-content: space-between;
	}
	header li {
		display: inline;
	}
}

/* ==========================================================================
Footer Component
========================================================================== */

footer {
	background: linear-gradient(to bottom, #ff63c1, #c60064);
	color: var(--color-gray-light);
	font-size: var(--size-xsm);
	padding: .5rem;
	text-align: center;
}

footer p {
	margin: 0;
}

footer a {
	color: var(--color-gold-light);
}

footer li {
	list-style: none;
	font-size: 1rem;
	padding: 1rem;
}

.about {
	padding: 1rem;
	text-align: left;
}

@media (min-width: 400px) {
	footer li {
		padding: .25rem;
	}
}
/* ==========================================================================
Page Layout
========================================================================== */

 body {
 	background-color: var(--pink-opacity-low);
 	margin: 0;
 }

 main {
 	background-color: #fff;
 	margin: auto;
 	max-width: 35rem;
 	padding: 2rem;
 }

/* ==========================================================================
Examples
========================================================================== */

figure {
	border: var(--border);
	border-radius: var(--border-radius);
	margin: 1rem;
	padding: 1rem;
}

.playfair {
	font-family: var(--font-family-secondary)
}

.color-swatch { 
	border-radius: var(--border-radius);	
 }

.swatch-text {
 	font-size: var(--size-xsm);
 }

/* ==========================================================================
Link Button Component
========================================================================== */

.link-button {
	background-color: var(--color-pink-light);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-gray);
	color: var(--color-gold-light);
	display: inline-block;
	padding: .5rem 1.5rem;
}

.link-button:visited {
	background-color: var(--color-pink-light);
}

.link-button:hover, .link-button:focus {
	background-color: var(--color-black);
	color: var(--color-pink-light);
}

.link-button:active {
	color: var(--color-green);
}

.link-button-light {
	background-color: transparent;
	color: var(--color-pink-dark);
	box-shadow: var(--box-shadow-pink);
}

.link-button-hero {
	background-color: var(--color-pink);
	box-shadow: var(--box-shadow-gray);
	margin: 1rem;
	padding: 2rem;
}

.link-button-hero:visited {
	background-color: var(--color-pink);
}

.link-button-hero:hover, .link-button-hero:focus, .link-button-hero-light:hover, .link-button-hero-light:focus {
	background-color: var(--color-black);
	box-shadow: var(--box-shadow-gray);
}

.link-button-hero-light {
	background-color: transparent;
	box-shadow: var(--box-shadow-pink);
	color: var(--color-pink);
	margin: 1rem;
	padding: 2rem;
}

.link-button-secondary {
	background-color: transparent;
	color: var(--color-green-dark);
	padding: .5rem;
	box-shadow: 2px 2px 3px;
}

.link-button-secondary:visited {
	background-color: transparent;
}

.link-button-secondary:hover, .link-button-secondary:focus {
	background-color: var(--color-black);
	color: var(--color-pink-light);
	box-shadow: var(--box-shadow-gray);
}


/* ==========================================================================
Accordion Component
========================================================================== */

details {
	border: var(--border);
	border-radius: var(--border-radius);
	margin: .5rem;
}

summary {
	color: var(--color-green-dark);
	font-family: var(--font-family-secondary);
	font-size: var(--size-medium);
	list-style-image: url(images/arrow.svg);
}

summary::-webkit-details-marker {
     background: url(images/arrow.svg);
     color: transparent;
}

summary:hover {
	color: var(--color-pink);
}

summary:focus {
	color: var(--color-pink-dark);
	outline: none;
}

summary:active {
	background-color: var(--color-pink-light);
	color: var(--color-gold-dark);
}

.accordions {
	padding-left: .5rem;
}

/* ==========================================================================
Dialog Component
========================================================================== */

dialog {
	animation: slide-in-down-grow 1s ease-out;
	background: linear-gradient(to bottom, #ff63c1, #c60064);
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-gray);
	color: var(--color-pink-dark);
	opacity: 1;
	max-width: 70%;
}

dialog::backdrop {
	animation: opacity-to-half 1s;
	background-image: url(images/green-polka.jpg);
	background-size: 100%;
	opacity: .5;
}

@keyframes slide-in-down-grow {
	
	0% {
		opacity: 0;
		transform: translateY(-10rem) scale(.3);
	} 
	
	60% {
		transform: translateY(2rem) scale(1.4);
	}
	
	100% {
		opacity: 1;
		transform: translateY(0) scale(1);
	}
	
}

@keyframes opacity-to-half {
	
	0% {
		opacity: 0;
	}

	100% {
		opacity: .5;
	}
	
}

.inner-modal {
	background-color: white;
	border-radius: var(--border-radius);
	padding: 1rem;
}

.modal-heading {
	color: var(--color-black);
 	font-size: var(--size-xxl);
 	letter-spacing: .05em;
 	line-height: 1.2;
 	margin-bottom: 1rem;
 	text-align: center;
 	text-transform: uppercase;
 	text-shadow: 1.5px 1.5px 2px var(--color-pink);
 }

/* ==========================================================================
Form Component
========================================================================== */

form {
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 2rem calc((100% - 20rem) / 2);
}

label, .microcopy, .error {
	padding-left: 2rem;
}

label, input, textarea, select, .microcopy  {
	display: block;
	margin: auto;
	padding-top: 1rem;
}

select:focus, input:focus, textarea:focus {
	outline: none;
}

select, input, textarea {
	font-size: var(--size-small);
	padding: .25rem;
	max-width: 10rem;
	width: 100%;
}

@media (min-width: 600px){
	select, input, textarea {
		max-width: 20rem;
	}
	label, .microcopy, .error {
		padding-left: 0;
	}
}

label {
	color: var(--color-pink-dark);
}

textarea {
	min-height: 5rem;
}

.microcopy {
	font-size: var(--size-xsm);
	color: var(--color-gray);
	padding-top: 0;
}

input, textarea, select {
	background-color: rgba(255, 99, 193, 0.1);
}

[disabled value="Your Name"] {
	color: var(--color-gray);
}

label, [type="submit"] {
	margin-top: 1rem;
}

.disabled {
	background-color: transparent;
	min-height: 1rem;
}

.error {
	border-color: var(--color-pink-dark);
	color: var(--color-pink-dark);
}

p.error {
	font-size: var(--size-xsm);
}

[type="submit"], button {
	background-color: transparent;
	border: var(--border);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow-gray);
	color: var(--color-pink);
	display: inline-block;
	font-size: var(--size-small);
	max-width: 50%;
	padding: .5rem .5rem;
}

[type="submit"]:visited, button:visited {
	background-color: transparent;
	color: var(--color-);
}

[type="submit"]:hover , button:hover, [type="submit"]:focus, button:focus {
	background-color: var(--color-pink-light);
	color: var(--color-gold-light);
	outline: none;
	transition: all .25s;
}

[type="submit"]:active, button:active {
	background-color: var(--color-pink-light);
	color: var(--color-gold-light);
}

/* ==========================================================================
Navigation Component
========================================================================== */

.primary-nav {
	background-color: var(--color-black);
	border-radius: var(--border-radius);
	padding: 1rem;
	text-align: center;
}

.primary-nav a { 
	color: var(--color-pink-light);
	padding: .5rem;
}

.primary-nav ul {
	padding-left: 0;
}

.primary-nav li {
	list-style-type: none;
	padding: 1rem;
}

@media (min-width: 752px) {
	.primary-nav {
		align-items: center;
		background-color: var(--color-black);
		display: flex;
		justify-content: space-between;
	}
	.primary-nav li {
		display: inline;
	}
}

.primary-nav a {
	color: var(--color-pink-light);
	text-decoration: none;
}

.primary-nav a:hover {
	color: var(--color-gold);
}


.active-page, .primary-nav a:focus, .primary-nav a:active, .secondary-nav a:active {
	background-color: var(--pink-opacity-medium);
	border-radius: var(--border-radius);
	color: #fff;
	text-shadow: 1.5px 1.5px var(--color-black);
}

.primary-nav a:visited, a:hover, a:focus, a:active {
	transition: all ease-in .25s;
}

.secondary-nav {
	display: inline-block;
	border: var(--border);
	border-radius: var(--border-radius);
	padding: 1rem;
}

.secondary-nav li {
	list-style-type: none;
	margin-top: 1rem;
	text-decoration: underline;
}

.nav-sublist-item li {
	font-size: var(--size-small);
	list-style-image: url(images/arrow.svg);
	text-decoration: none;
}

.secondary-nav ul {
	padding: 0;
}

.secondary-nav a:hover, .secondary-nav a:focus {
	color: var(--green-dark);
}




