/* ==========================================================================
Variables
========================================================================== */
html {
	--border:					2px outset #ff63c1;
	--color-black: 				#000;
	--color-gold: 				#ffd700;
	--color-gold-dark: 			#c7a600;
	--color-gold-light: 		#ffff52;
	--color-gray: 				#606060;
	--color-gray-dark: 			#333;
	--color-gray-light: 		#e0e0e0;
	--color-pink-dark: 			#c60064;
	--color-pink-light: 		#ff63c1;
	--color-pink: 				#ff1891;
	--color-green-dark: 		#006200;
	--color-green-light: 		#56c23e;
	--color-green: 				#129100;
	--font-family-primary: 		'Alegreya', sans-serif;
	--font-family-secondary: 	'Playfair Display', serif;
	--ratio:					1.5;
	--size-tiny:				.5rem;
	--size-xsm:					.7rem;
	--size-small:				calc(1rem / var(--ratio) );
	--size-medium:				calc(1rem * var(--ratio) );
	--size-large:				calc(var(--size-medium) * var(--ratio) );
	--size-xl:					calc(var(--size-large) * var(--ratio) );
	--size-xxl:					calc(var(--size-xl) * var(--ratio) );
	--text-shadow-pink:			1px 1px #ff63c1;
}



/* ==========================================================================
Typography
========================================================================== */

html {
	color: var(--color-gray-dark);
	font-family: var(--font-family-primary);
	line-height: 1.3;
	margin: auto;	
}

@media (min-width: 400px) {

	html {
		font-size: 19px;
		--ratio: 1.3;
	}
}

 .logo {
	font-size: var(--size-xl);
	text-shadow: .5px .5px var(--color-gold-light);
}

h1, h2, h3, h4, h5, h6, .logo{
	font-family: var(--font-family-secondary);
}

 h1 {
 	color: var(--color-black);
 	font-size: var(--size-xxl);
 	letter-spacing: .05em;
 	line-height: 1.2;
 	text-align: center;
 	text-shadow: var(--text-shadow-pink);
 	text-transform: uppercase;
 }
 
 h2 {
 	border-top: var(--border);
 	color: var(--color-green);
 	font-size: var(--size-xl);
 	margin-top: 5rem;
 	padding-left: .5rem;
 	font-weight: normal;
 }

h3 {
 	color: var(--color-black);
 	font-size: var(--size-large);
 	margin: 0;
 	padding-right: 1rem;
 	text-align: right;
 }

 h4 {
 	color: var(--color-pink-dark);
 	font-size: var(--size-medium);
 }

  h5 {
  	color: var(--color-gold-dark);
 	font-size: var(--size-small);
 }

  h6 {
  	color: var(--color-pink-dark);
 	font-size: var(--size-xsm);
 }

 ul {
	color: var(--color-green-dark);
	list-style-type: circle;
}

ol {
	color: var(--color-green-light);
	list-style-type: upper-roman;
}

ol, ul {
	list-style-position: inside;
	text-shadow: .25px .25px var(--color-black);
}

blockquote {
	border: var(--border);
	box-shadow: 3px 3px 6px var(--color-green-dark);
	color: var(--color-pink-dark);
	max-width: 15rem;
	padding: 1rem;
}

.tertiary-dark {
	background-color: var(--color-pink);
	color: var(--color-gray-light);
	font-size: var(--size-xsm);
	padding: .5rem;
}

.tertiary-light {
	color: var(--color-pink-dark);
	font-size: var(--size-xsm);
}

 .lead {
 	font-size: var(--size-medium);
 }

/* ==========================================================================
Links
========================================================================== */

a {
	color: var(--color-pink);
	text-decoration: none;
}

a:visited {
	text-decoration: line-through;
}

a:hover {
	color: var(--color-gold);
}

a:focus {
	color: var(--color-green-light);
}

a:active {
	color: var(--color-gold-dark);
}

/* ==========================================================================
Header Component
========================================================================== */

header {
	background-color: var(--color-black);
	padding: 1rem;
}

header a { 
	color: var(--color-pink-light);
	padding: .5rem;
}

header ul {
	padding-left: 0;
}

header li {
	display: inline;
	list-style-type: none;
}

.logo {
}

@media (min-width: 650px) {
	header {
		align-items: center;
		background-color: var(--color-black);
		display: flex;
		justify-content: space-between;
	}
}
/* ==========================================================================
Footer Component
========================================================================== */

footer {
	background: linear-gradient(to bottom, #ff63c1, #c60064);
	color: var(--color-gray-light);
	font-size: var(--size-xsm);
	padding: .5rem;
	text-align: center;
}

footer p {
	margin: 0;
}

footer a {
	color: var(--color-gold-light);
}

footer li {
	list-style: none;
}

.aboutme {
	padding: 1rem;
	text-align: left;
}

/* ==========================================================================
Page Layout
========================================================================== */

 body {
 	margin: 0;
 }

 main {
 	margin: auto;
 	max-width: 35rem;
 	padding: 2rem;
 }

/* ==========================================================================
Examples
========================================================================== */

figure {
	border: var(--border);
	margin: 1rem;
	padding: 1rem;
}

.playfair {
	font-family: var(--font-family-secondary)
}

.color-swatch { 	
 	height: 20rem;
 	width: 10rem;
 }

.swatch-text {
 	font-size: var(--size-xsm);
 }